<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="templates :: header"></th:block>

<body>

<th:block th:replace="templates :: logout_navbar"></th:block>

<div th:unless="${#lists.isEmpty(matches)}">
    <h1 class="page-title" th:text="${title}"></h1>


    <table class="table table-bordered table-hover">

        <thead>
        <tr class="active">
            <th>Match Id</th>
            <th>Radiant Win</th>
            <th>Duration</th>
            <th>Game Mode</th>
            <th>Dota 2 patch</th>
        </tr>
        </thead>

        <tbody th:each="match : ${matches}">
        <tr th:object="${match}">
            <td class="data pad-top28" th:text="*{matchId}"></td>
            <td class="data pad-top28" th:text="*{radiantWin}"></td>
            <td class="data pad-top28" th:text="*{duration}"></td>
            <td class="data pad-top28" th:text="*{gameMode}"></td>
            <td class="data pad-top28" th:text="*{version}"></td>
        </tr>
        </tbody>

    </table>

</div>

<div th:if="${#lists.isEmpty(matches)}" style="margin-top: 30px;">
    <h4 class="text-center" th:text="${matchesNPE}"></h4>
</div>

<th:block th:include="templates :: allJss"></th:block>

</body>
</html>