<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="templates :: header"></th:block>

<body>

<th:block th:replace="templates :: logout_navbar"></th:block>

<div th:unless="${peers} == null">

    <h1 class="page-title" th:text="${playerName} + ' ' + 'peers'"></h1>

    <table class="table table-bordered table-hover">

        <thead>
        <tr class="active">
            <th>Icon</th>
            <th>Steam Id</th>
            <th>Name</th>
            <th>Games</th>
            <th>Together</th>
            <th>Together victories</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody th:each="peer : ${peers}">
        <tr th:object="${peer}">
            <td><img th:src="*{avatar}" alt="No image" height="64" width="64"></td>
            <td class="data pad-top28" th:text="*{steamId32}"></td>
            <td class="data pad-top28" th:text="*{personaname}"></td>
            <td class="data pad-top28" th:text="*{games}"></td>
            <td class="data pad-top28" th:text="*{with_games}"></td>
            <td class="data pad-top28" th:text="*{with_win}"></td>
            <td style="padding-top: 22px;">
                <a th:href="@{/database/players/save/(id=*{steamId32})}" th:unless="*{isInDB}"
                   class="btn btn-success">Save</a>

                <a href="#" th:if="*{isInDB}" class="btn btn-success disabled" aria-disabled="true">Saved</a>
                &nbsp
                <a th:href="@{/database/players/delete/(id=*{steamId32})}" th:if="*{isInDB}"
                   class="btn btn-danger">DELETE</a>
            </td>
        </tr>
        </tbody>

    </table>

</div>

<div th:if="${peers} == null" style="margin-top: 30px;">
    <h4 class="text-center">Player does not exist or not play dota 2</h4>
</div>

<th:block th:include="templates :: allJss"></th:block>

</body>
</html>