<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="templates :: header"></th:block>

<body>

<th:block th:replace="templates :: logout_navbar"></th:block>

<h1 class="page-title">Players in database</h1>

<div class="container-fluid">

    <div class="col-2 ml-auto">
        <button type="button" class="btn btn-success" data-toggle="modal"
                data-target="#addModal"
                style="margin-bottom: 30px; margin-left: 60px;">Add player to database by id
        </button>
    </div>

</div>

<div th:if="${saveError}" class="col-2 ml-auto mar-bot30">
    <div class="alert alert-danger fade show" role="alert">
        Player not saved in database
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div th:if="${deleteError}" class="col-2 ml-auto mar-bot30">
    <div class="alert alert-danger fade show" role="alert">
        Player not removed from database
    </div>
</div>

<table class="table table-bordered table-hover" th:classappend="${players.size() > 7} ? 'table-sm' : 'table-lg'">

    <thead>
    <tr class="active">
        <th>Icon</th>
        <th>Steam Id</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody th:each="player : ${players}">
    <tr th:object="${player}">
        <td><img th:src="*{avatar}" alt="No image" height="64" width="64"></td>
        <td class="data pad-top28" th:text="*{steamId32}"></td>
        <td class="data pad-top28" th:text="*{name}"></td>
        <td style="padding-top: 22px;">
            <a th:href="@{'/database/players/' + *{steamId32}}" class="btn btn-info">VIEW</a>
            &nbsp
            <a th:href="${player.steamUrl}" class="btn btn-primary">Steam Profile</a>
            &nbsp
            <a th:href="@{/user/collection/add/(id=*{steamId32})}"
               th:unless="${userCollectionPlayersIds.contains(player.getSteamId32())}"
               class="btn btn-success">Add to your collection</a>
            <a href="#" th:if="${userCollectionPlayersIds.contains(player.getSteamId32())}"
               class="btn btn-success disabled"
               aria-disabled="true">Saved in collection</a>
            &nbsp
            <a th:href="@{'/api/openDotaApi/players/' + *{steamId32} + '/peers'}"
               class="btn btn-warning">PEERS</a>
            &nbsp
            <a th:href="@{/database/matches/saveMatches(id=*{steamId32})}"
               class="btn btn-success">Save matches</a>
            &nbsp
            <a th:href="@{/database/players/delete/(id=*{steamId32})}" class="btn btn-danger">DELETE</a>
        </td>
    </tr>
    </tbody>

</table>

<div class="modal fade" id="addModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter id of player:</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:object="${player}" th:action="@{/api/openDotaApi/players}" method="post">

                <div class="modal-body">
                    <div class="form-group" style="margin-bottom: 0;">
                        <input class="form-control" type="text" placeholder="Id" th:field="${player.steamId32}"
                               required>
                    </div>
                    <p style="margin-top: 16px; margin-bottom:0;">Exemple: 70388657</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="Go to profile">
                </div>

            </form>
        </div>
    </div>
</div>

<th:block th:include="templates :: allJss"></th:block>
</body>
</html>