.data {
    font-size: 18px;
    font-weight: 500;
}

.table-title {
    font-size: 18px;
    font-weight: bold;
}

.border-panel {
    margin-top: 60px;
    border: solid #007bff;
    background-color: #ffffff;
}

.panel-header {
    background-color: #dee2e6;
    padding-top: 15px;
    padding-bottom: 10px;
}

.page-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 45px;
}

.pad-top28 {
    padding-top: 28px;
}

.mar-bot30 {
    margin-bottom: 30px;
}