.data {
    font-size: 18px;
    font-weight: 500;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.indent {
    margin-bottom: 30px;
}

.border-panel {
    margin-top: 60px;
    border: solid #007bff;
    background-color: #ffffff;
}

.title-panel {
    background-color: #dee2e6;
    padding-top: 15px;
    padding-bottom: 10px;
}