<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="templates :: header"></th:block>

<body>

<h1 class="page-title">Players in database</h1>

<div class="container-fluid">

    <div class="col-11"></div>

    <div class="col-1 ml-auto">
        <button type="button" class="btn btn-success" data-toggle="modal"
                data-target="#addModal"
                style="margin-bottom: 30px;">Find player by id
        </button>
    </div>

</div>

<table class="table table-bordered table-hover">

    <thead>
    <tr class="active">
        <th>Icon</th>
        <th>Steam Id</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody th:each="player : ${players}">
    <tr>
        <td><img th:src="${player.avatar}" alt="No image" height="64" width="64"></td>
        <td class="data pad-top28" th:text="${player.steamId32}"></td>
        <td class="data pad-top28" th:text="${player.name}"></td>
        <td style="padding-top: 22px;">
            <a th:href="@{'/players/' + ${player.steamId32}}" class="btn btn-info">VIEW</a>
            &nbsp
            <a th:href="@{'/api/openDotaApi/players/' + ${player.steamId32} + '/peers'}"
               class="btn btn-warning">PEERS</a>
            &nbsp
            <a th:href="@{/players/delete/(id=${player.steamId32})}" class="btn btn-danger">DELETE</a>
        </td>
    </tr>
    </tbody>

</table>

<div class="modal fade" id="addModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter id of player:</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:object="${player}" th:action="@{/api/openDotaApi/players}" method="post">

                <div class="modal-body">
                    <div class="form-group" style="margin-bottom: 0;">
                        <input class="form-control" type="text" placeholder="Id" th:field="${player.steamId32}"
                               required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="Go to profile">
                </div>

            </form>
        </div>
    </div>
</div>

<div th:include="templates :: allJss"></div>

</body>
</html>