<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="templates :: header"></th:block>

<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="panel border-panel"
                 th:if="${player} != null"
                 th:object="${player}">

                <div class="panel-heading title-panel">
                    <h4 class="text-center" th:text="*{name}"></h4>
                </div>

                <div class="text-center" style="margin-top: 30px;">
                    <img th:src="${player.avatar}" alt="No image" height="184" width="184">
                </div>

                <div class="panel-body" style="margin-top: 60px;">

                    <div class="row indent">
                        <div class="col text-center table-title">Id:</div>
                        <div class="col text-center data" th:text="*{steamId32}"></div>
                    </div>

                    <div class="row indent">
                        <div class="col text-center table-title">Name:</div>
                        <div class="col text-center data" th:text="*{name}"></div>
                    </div>

                    <div class="row indent">
                        <div class="col text-center table-title">Steam Url:</div>
                        <div class="col text-center data" th:text="*{steamUrl}"></div>
                    </div>

                    <div class="row indent">
                        <div class="col text-center table-title">Solo mmr:</div>
                        <div class="col text-center data" th:text="*{solo_competitive_rank}"></div>
                    </div>

                    <div class="row indent">
                        <div class="col text-center table-title">Competitive mmr:</div>
                        <div class="col text-center data" th:if="*{competitive_rank} != null"
                             th:text="*{competitive_rank}"></div>
                        <div class="col text-center data" th:unless="*{competitive_rank} != null">Not
                            calibrated
                        </div>
                    </div>

                    <h2 class="text-center" style="margin-bottom: 30px; margin-top: 45px;">
                        <a th:href="@{/database/players}" class="btn btn-secondary" role="button">Back</a>
                        <a th:href="@{/database/players/save/(id=*{steamId32})}" th:unless="*{isInDB}"
                           class="btn btn-success" role="button">Save</a>
                        <a href="#" th:if="*{isInDB}" class="btn btn-success disabled"
                           aria-disabled="true">Saved</a>
                        &nbsp
                    </h2>

                </div>
            </div>

            <div th:if="${player} == null" style="margin-top: 30px;">
                <h4 class="text-center">Player does not exist or not play dota 2</h4>
            </div>

        </div>
    </div>
</div>
</body>
</html>