<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="templates :: header"></th:block>

<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="panel border-panel"
                 th:if="${player} != null"
                 th:object="${player}">

                <div class="panel-heading title-panel">
                    <h4 class="text-center" th:text="*{name}"></h4>
                </div>

                <div class="panel-body" style="margin-top: 30px;">

                    <div class="row indent">
                        <div class="col text-center table-title">Id:</div>
                        <div class="col text-center data" th:text="*{steamId32}"></div>
                    </div>

                    <div class="row indent">
                        <div class="col text-center table-title">Name:</div>
                        <div class="col text-center data" th:text="*{name}"></div>
                    </div>

                    <div class="row indent">
                        <div class="col text-center table-title">Steam Url:</div>
                        <div class="col text-center data" th:text="*{steamUrl}"></div>
                    </div>

                    <div class="row indent">
                        <div class="col text-center table-title">Solo mmr:</div>
                        <div class="col text-center data" th:text="*{solo_competitive_rank}"></div>
                    </div>

                    <div class="row indent">
                        <div class="col text-center table-title">Competitive mmr:</div>
                        <div class="col text-center data" th:if="${player.competitive_rank} != null"
                             th:text="*{competitive_rank}"></div>
                        <div class="col text-center data" th:unless="${player.competitive_rank} != null">Not
                            calibrated
                        </div>
                    </div>

                    <h2 class="text-center" style="margin-bottom: 20px;">
                        <a th:href="@{/players/saved}" class="btn btn-secondary" role="button">Back</a>
                        <a th:href="@{/players/save/(id=${player.steamId32})}" th:unless="${player.isInDB}"
                           class="btn btn-success" role="button">Save</a>
                        <a href="#" th:if="${player.isInDB}" class="btn btn-success disabled"
                           aria-disabled="true">Saved</a>
                        &nbsp
                    </h2>

                </div>
            </div>

            <div class="panel" th:if="${player} == null">
                <div class="panel-heading" style="margin-top: 30px;">
                    <h4 class="text-center table-title">Object not found</h4>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>